:root {
  font-family: "Source Code Pro", monospace;
  --sc-track: white;
  --sc-th: lightgray;
  --p: #48bfe3;
  --s: #f4f4f4;
  --logo: #03045e;
  --ellipse: var(--logo);
  --rectangle: var(--logo);
  font-size: 16px;
}
img {
  display: block;
  width: auto;
  border-radius: 20px;
}
#ellipse {
  fill: var(--ellipse);
}
#rectangle {
  fill: var(--rectangle);
}
body {
  color: white;
  background-color: var(--s);
}

.isDesable {
  color: lightgray;
  text-decoration: line-through;
}

.navbar {
  position: sticky;
  top: 0px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: var(--p);
  display: flex;
  align-items: center;
}

.git {
  flex: 0.5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
}

.bc {
  margin-left: 1rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar-nav {
  flex: 2.5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-item {
  margin: 1rem;
}

header {
  background-color: var(--p);
  text-align: center;
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
}
header div {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project {
  color: black;
  border: 4px solid var(--p);
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.5rem;
}
.project-title {
  margin: 1rem;
  border-bottom: 3px solid var(--p);
  padding: 1rem;
}
.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0px 20px;
}
.container-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.container-content a {
  border: 3px solid var(--p);
  border-radius: 10px;
  padding: 10px;
  margin: 1rem;
}

/* animation */
#anime {
  position: relative;
  width: max-content;
  margin: 0 10px;
  display: inline-block;
}
#anime::before,
#anime::after {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
#anime::before {
  content: "";
  background: var(--p);
  animation: typeWriter 3s steps(11) forwards;
}
#anime::after {
  content: "";
  width: 0.055em;
  background-color: black;
  animation: typeWriter 3s steps(11) forwards, blink 750ms steps(11) infinite;
}
@keyframes typeWriter {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background-color: transparent;
  }
}
@media (min-width: 0px) {
  :root {
    font-size: 10px;
  }
  .bc,
  .git,
  .container-img img,
  .container-content p {
    display: none;
  }
  .logo {
    width: 150px;
  }
  .container-content a:hover,
  .container-content a:focus {
    background-color: var(--p);
    color: white;
    transition: all 10ms ease;
  }
}
@media (min-width: 320px) {
  .git {
    display: flex;
  }
  .container-content p {
    display: inline;
  }
}
@media (min-width: 480px) {
  :root {
    font-size: 12px;
  }
  .bc {
    display: flex;
  }
}
@media (min-width: 800px) {
  :root {
    font-size: 16px;
  }
  header {
    flex-direction: row;
  }
  .logo {
    width: 200px;
  }
  .container-img img {
    display: inline;
    width: 350px;
  }
  .container-content a:hover,
  .container-content a:focus {
    background-color: var(--p);
    color: white;
    transition: all 500ms ease;
  }
}
@media (min-width: 1150px) {
  .container-img img {
    width: auto;
  }
  .logo {
    width: 250px;
  }
}
.sc {
  background-color: #caf0f8;
  color: black;
}
