:root {
  font-family: "Source Code Pro", monospace;
  --sc-track: white;
  --sc-th: lightgray;
  --p: #48bfe3;
  --s: #f4f4f4;
}
img {
  display: block;
  width: auto;
  border-radius: 20px;
}
body {
  height: 10000px;
  color: white;
  background-color: var(--s);
  display: grid;
  grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 2.5rem 100vh;
}
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background-color: var(--sc-track);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--sc-th);
  border-radius: 20px;
}
.isDesable {
  color: lightgray;
  text-decoration: line-through;
}

.navbar {
  position: sticky;
  top: 0px;
  grid-area: nav;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: var(--p);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.git {
  flex: 0.5;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.bc {
  margin-left: 1rem;
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.navbar-nav {
  flex: 2.5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-item {
  margin: 1rem;
}

header {
  grid-area: header;
  background-color: var(--p);
  text-align: center;
  display: flex;
}
header div {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}
main {
  grid-area: main;
}
.project {
  color: black;
  border: 4px solid var(--p);
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.5rem;
}
.project-title {
  margin: 1rem;
  border-bottom: 3px solid var(--p);
  padding: 1rem;
}
.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px 20px;
}
.container-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.container-content a {
  border: 3px solid var(--p);
  border-radius: 10px;
  padding: 10px;
  margin: 1rem;
}
.container-content a:hover,
.container-content a:focus {
  background-color: var(--p);
  color: white;
  transition: all 500ms ease;
}
/* animation */
#anime {
  position: relative;
  width: max-content;
}
#anime::before,
#anime::after {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
#anime::before {
  content: "";
  background: var(--p);
  animation: typeWriter 3s steps(11) forwards;
}
#anime::after {
  content: "";
  width: 0.055em;
  background-color: black;
  animation: typeWriter 3s steps(11) forwards, blink 750ms steps(11) infinite;
}
@keyframes typeWriter {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background-color: transparent;
  }
}
@media (min-width: 0px) {
  .bc,
  .git,
  .container-img img,
  .container-content p {
    display: none;
  }
  .navbar {
    font-size: 1rem;
  }
  header {
    flex-direction: column;
  }
  .project {
    margin: 2rem;
  }
}
@media (min-width: 320px) {
  .git {
    display: flex;
  }
  .container-content p {
    display: inline;
  }
}
@media (min-width: 450px) {
  :root {
    font-size: 12px;
  }
  .bc {
    display: flex;
  }
}
@media (min-width: 800px) {
  :root {
    font-size: 16px;
  }
  header {
    flex-direction: row;
  }
  .container-img img {
    display: inline;
    width: 350px;
  }
}
@media (min-width: 1150px) {
  .container-img img {
    width: auto;
  }
}
