:root {
  --bg: lightblue;
  --bg--hd: lightcoral;
  --bg--ft: lightcoral;
  --bg--lfbar: lightgoldenrodyellow;
  --bg--main: lightsalmon;
  --bg--rtbar: red;
}
html {
  height: 100%;
}
body {
  background-color: var(--bg);
  height: 20000px;
  margin: 0px;
}
header {
  background-color: var(--bg--hd);
  position: sticky;
  top: 0px;
}
nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
nav > ul {
  list-style: none;
  margin: 0px;
}
nav > ul > li {
  display: inline;
}
nav > ul > li > a {
  text-decoration: none;
  color: black;
  padding: 10px;
  font-size: 0.9rem;
}
main {
  padding: 10px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-auto-rows: minmax(100vh, auto);
  grid-gap: 10px;
  grid-template-areas: "left main right";
  text-align: center;
}
.lfbar {
  grid-area: left;
  background-color: var(--bg--lfbar);
  text-align: left;
  padding: 10px;
}
.main {
  grid-area: main;
  background-color: var(--bg--main);
}
.rtbar {
  grid-area: right;
  background-color: var(--bg--rtbar);
}
footer {
  margin-top: auto;
  height: 100px;
  background-color: var(--bg--ft);
}
@media screen and (max-width: 600px) {
  body,
  header {
    font-size: 2rem;
  }
  main {
    grid-template-areas: "left " "main";
    grid-template-rows: 0.25fr 1fr;
    grid-template-columns: 1fr;
  }

  .rtbar {
    display: none;
  }
}
