:root {
  --bg--head: PowderBlue;
  --bg--nav: LightCyan;
  --bg--main: Beige;
  --bg--footer: #333;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0px;
  display: grid;
  grid-template-areas:
    "head head"
    "nav main"
    "foot foot";
  grid-template-rows: minmax(100px, auto) 1fr minmax(100px, auto);
  grid-template-columns: 150px 1fr;
}

header {
  grid-area: head;
  background: var(--bg--head);
  text-align: center;
}
nav {
  grid-area: nav;
  background-color: var(--bg--nav);
  padding: 10px;
}
nav h3 {
  margin: 0px;
}
nav ul {
}
nav li {
  list-style: none;
  display: inline-block;
}
nav a {
  text-decoration: none;
  color: #333;
  background-color: LightSkyBlue;
}
nav a:hover {
  border: 1px navy solid;
}
main {
  grid-area: main;
  text-align: center;
  background-color: var(--bg--main);
}
footer {
  grid-area: foot;
  background-color: var(--bg--footer);
  text-align: center;
  color: #fff;
}
@media only screen and (max-width: 600px) {
  body {
    grid-template-areas:
      "head"
      "nav"
      "main"
      "foot";
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr min-content;
  }
  nav h3 {
    display: none;
  }
  nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
  }
}
