body {
  font-family: "Source Code Pro", monospace;
  height: 100vh;
}
main {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 35px 35px 70px #bebebe, -35px -35px 70px #ffffff;
}
@media (min-width: 0px) {
  .p {
    display: none;
  }
}
@media (min-width: 500px) {
  .p {
    display: inline-block;
  }
  .s {
    display: none;
  }
}
